.LayoutHeading{
    text-align: center;
    padding: 10% 20% 20% 10%; 
}
.LayoutAppbar{
    background-color: indigo!important;

}
.LayoutWelcome{
    font-size: 50px;
    font-weight: 400;
}
.LayoutMenuButton{
    background-color: indigo!important;
    color: white!important;
    margin-top: 20px!important;
}