.OrderAppbar{
    background-color: indigo!important;

}
.OrderMainBox{
    padding: 5% 5% 5% 5%;
}
 
 
 .OrderImage{
     width: 100%;
     height: 55%;
 }
 .menuOrderImg{
    height: 180px;
    width: 280px;
}

 p{
    font-size: 18px;
    margin-left: 20px;
 }

 Button{
    text-transform: capitalize!important;
 }

 .LoginButton{
    text-transform: capitalize!important;
    color: white!important;
    margin-left: 15px!important;

 }
 .orderPlaced{
    margin-right: 20px!important;
    text-transform: capitalize!important;
    color: white!important;
}

.orderlist{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color:red;
    color: white;
    font-size: 15px;
    padding: 2px 2px 2px 7px;
    position: absolute;
    right: 20%;
    top: 8px;
}

.shoppingicon{
    margin-right: 20px!important;
    font-size: 30px!important;
}

