.SignInCard {
    height: 100vh;
    width: 100%;
    padding: 0px 50px 50px 50px;
    margin-left: 12px;
    background-color: #9a938a61 !important;

}

.SignInLogoImg {
    height: 150px;
    width: 150px !important;
    margin-left: 30%;
    border-radius: 20% !important;
    margin-bottom: 20px;
    margin-top: 20px;

}

.SignInLogoImg1 {
    position: absolute;
    left: 18%;
    top: 25%;
    border-radius: 50%;
}

.SignInbuttn {
    text-transform: capitalize !important;
    width: 70px !important;
}

.paraSign {
    text-align: center;
}

.Foodres {
    position: absolute;
    top: 60%;
    left: 15%;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}